/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './assets/css/black-dashboard.css';

.table-responsive {
    overflow: auto;
}

.dropleft .dropdown-toggle:before, .dropdown-menu:before, .dropdown-menu.dropdown-black:after {
    display: none !important;
}

.dropdown-left {
    left: auto !important;
    right: 0 !important;
}


.table-settings label {
    color: hsla(0,0%,100%,.6);
}

.btn-icon {
    font-size: 25px !important;
}

.modal-black .close > span:not(.sr-only) {
    background-color: transparent;
    color: rgb(255, 255, 255);
    line-height: 17px;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    font-size: 1.25rem;
    display: block;
    transition: all 0.15s ease;
}

.modal-backdrop.show {
    opacity: 1;
}

.select2-container--default .select2-selection--multiple {
    background: #20283f;
    border-color: #2b3553 !important;
    border-radius: 0.4285rem !important;
    padding: 10px 18px !important;
}

.select2-dropdown {
    background: #20283f;
    border-color: #2b3553 !important;
    border-radius: 0.4285rem !important;

}

.select2-container .select2-search--inline .select2-search__field {
    margin: 0 !important;
    color: hsla(0, 0%, 100%, 0.8) !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #e14eca;
    color: hsla(0, 0%, 100%, 0.8) !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #e14eca !important;
}

.select2-results__option {
    padding: 10px 18px;
    color: hsla(0, 0%, 100%, 0.8) !important;
    background: #20283f;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e14eca;
    border: none !important; 
    border-radius: 0.4285rem !important;
    display: inline-block;
    margin: 4px 4px !important;
    padding: 4px 4px 6px 4px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, 
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #f1f1f1 !important; 
    color: #333 !important;
}

.form-group.has-danger:after {
    font-family: nucleo;
    content: "\ea48";
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 42px;
    color: #ec250d;
    font-size: 11px;
}
.form-group.has-success:after {
    font-family: nucleo;
    content: "\ea1b";
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 42px;
    color: #00f2c3;
    font-size: 11px;
}


