<div class="login-page">
  <div class="wrapper wrapper-full-page ">
    <div class="full-page login-page ">
      <div class="content">
        <div class="container">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="card card-login card-white">
                <div class="card-header">
                  <img src="assets/images/card-primary.png"
                    alt="">
                  <h1 class="card-title">Log in</h1>
                </div>
                <div class="card-body">
                  <div class="input-group" [ngClass]="{ 
                    'has-danger': submitted && f.email.errors,
                    'input-group-focus': isFocusEmail
                  }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"></i>
                      </div>
                    </div>
                    <input type="text" (focus)="isFocusEmail = true" (focusout)="isFocusEmail = false"
                      formControlName="email" class="form-control" placeholder="Email">
                  </div>
                  <div *ngIf="submitted && f.email.errors" class="form-text">
                    <p class="text-danger" *ngIf="f.email.errors.required">Email is required</p>
                  </div>
                  <div class="input-group" [ngClass]="{ 'has-danger': submitted && f.password.errors,
                    'input-group-focus': isFocusPassword}">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"></i>
                      </div>
                    </div>
                    <input (focus)="isFocusPassword = true" (focusout)="isFocusPassword = false" type="password"
                      formControlName="password" placeholder="Password" class="form-control">
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="form-text">
                    <p class="text-danger" *ngIf="f.password.errors.required">Password is required</p>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Get Started</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
