#section-1 {
    min-height: 60vh;
    padding: 10rem 0;
    padding-top: 0;
    width: 100vw;
    position: relative;
}

#video-background {
/*  making the video fullscreen  */
    position: absolute;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}

.card-header-loc {
    position: relative;
    display: flex;
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    .child {
        flex: 1;
        background: #F5F5F5;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        padding: 30px;

        .pagination-icon {
            width: 100px;
            padding-top: 30px;
            
        }

        .search-item {
            img {
                width: 30px;
                height: auto;
                cursor: pointer;
                transition: fill 400ms ease;
            }:hover {
                fill: #e3b04b;
            }
        }


        .icon-left, .icon-right{
            img {
                width: 30px;
                height: auto;
                cursor: pointer;
                fill: #000;
                transition: fill 400ms ease;
            }:hover {
                fill: #e3b04b;
            }
        }
        
        .header-text {
            margin-bottom: 30px;

            h4 {
                color: #000;
            }
            
            .light {
                font-weight: 300;
                line-height: 30px;
            }
        }
        .wrapper-list {
            position: relative;
        }
        .card-product {
            position: relative;
            max-width: 250px;
            min-height: 410px;
            overflow: hidden;
            // display: inline-block;
            // margin-right: 30px;

            img {
                width: 250px;
                height: 250px;
            }

            h4 {
                color: #000;
            }

            .light {
                font-weight: 300;
                line-height: 30px;
            }
            .content {
                padding: 20px;
            }

            .text-muted {
                color: #BDBDBD;
                cursor: pointer;
            }
            .more-icon {
                img {
                    width: 30px;
                    height: auto;
                    cursor: pointer;
                    fill: #BDBDBD;
                }
            }
        }

        
    }

    .full-screen {
        width: 500px;
        height: 500px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
        position: relative;

        .background-item {
            width: 100%;
            height: 100%;
        }
        .logo-item {
            position: absolute;
            left: 20px;
            top: 30px;
            width: 40px;
        }

        .content-text {
            position: absolute;
            left: 20px;
            bottom: 30px;
            h4 {
                color: #F5F5F5;
            }

            .light {
                font-weight: 300;
                line-height: 30px;
            }

            .price {
                color: #F5F5F5;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
        .add-item {
            position: absolute;
            right: 20px;
            bottom: 30px;
            transition: all .15s ease;
            img {
                width: 50px;
                height: auto;
                cursor: pointer;
                
            }
        }
    }
}

.sean-wotherspoon-theme {
    margin: 100px 0;
    // padding-bottom: 100px;
    position: relative;

    .line-color1 {
        background-color: #c9c094;
        height: 20px;
    }

    .line-color2 {
        background-color: #a69d64;
        height: 10px;
    }

    .line-color3 {
        background-color: #5a5c60;
        height: 20px;
    }

    .line-color4 {
        background-color: #bb7879;
        height: 10px;
    }

    .line-color5 {
        background-color: #4392bd;
        height: 10px;
    }

    .line-color6 {
        background-color: #35306b;
        height: 10px;
    }

    .line-color7 {
        background-color: #3e4648;
        height: 20px;
    }

    img {
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
}

.masonry-item {
    margin-bottom: 10px;
    background-color: transparent;
    background-size: cover;
    width: 340px;
    overflow: hidden;

    .item {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            min-height: 340px;
            transition: 0.25s;
            cursor: pointer;
            position: relative;
            z-index: 2;
        
            &:hover {
              opacity: 0.25;
            }
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // color: #fff;
            text-align: center;
            z-index: 1;
        }
    }
  
    
  }
  ngx-masonry {
      margin: 0 auto;
  }

.card-lift--hover {
    transition: all 0.15s ease;
    cursor: pointer;
}

.card-lift--hover:hover {
    
    transform: translateY(-10px);

}

.shadow {
    box-shadow: 0 -15px -35px rgba(50, 50, 93, 0.1), 0 -5px -15px rgba(0, 0, 0, 0.07) !important;
}


.limit-height {
    max-height: 100vh;
    overflow: hidden;
}

.btn-see-more {
    margin: 20px 0;
    text-align: center;
}

.notification {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    width: 25vw;
    left: 20px;
}


.mb-0 {
    margin: 0;
}

.display-4 {
    font-size: 27px;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
}

.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.fill-white {
    fill: #fff;
}

.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.separator {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    pointer-events: none;
}

.separator-bottom {
    top: auto;
    bottom: 0;
     svg {
        bottom: 0;
        position: absolute;
        pointer-events: none;
        overflow: hidden;
        vertical-align: middle;
    }
}


.separator-skew {
    height: 60px;
}


.mt-50 {
    margin-top: 50px;
}

.choose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px !important;
    height: 30px !important;
}

.shadow-text {
    text-shadow: 2px 2px #333;
}