<div class="navbar-minimize-fixed" style="opacity: 0;">
  <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
    <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
  </button>
</div>
<div class="sidebar">
  <div class="sidebar-wrapper ps ps--active-x">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        CT
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard" >
          <i class="fas fa-boxes"></i>
          <p>Quản lý chung</p>
        </a>
      </li>

      <li>
        <a href="javascript://">
          <i class="fas fa-sign-out-alt"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
    <div class="ps__rail-x" style="width: 80px; left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 55px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </div>
</div>
