<div class="d-block mb-4">
  <h4>Quản lý chung</h4>
  <p class="mb-0">Liệt kê danh sách sản phẩm</p>
</div>


<div class="table-settings mb-4">
  <div class="row align-items-end">
    <div class="col col-md-4">

      <div class="form-group m-0">
        <label for="nameProduct">Tên sản phẩm</label>
        <input type="text" class="form-control" id="nameProduct" aria-describedby="nameProduct"
          placeholder="Nhập tên sản phẩm">
      </div>
    </div>
    <div class="col col-md-4" (click)="search()">
      <button class="btn btn-primary animation-on-hover m-0">
        <span class="fas fa-search d-inline-block mr-2"></span>Tìm kiếm
      </button>
    </div>
    <div class="col col-md-4 text-right" (click)="openCreatePopup()">
      <button class="btn btn-success animation-on-hover m-0 ">
        <span class="fas fa-plus d-inline-block mr-2"></span>Thêm mới sản phẩm
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Danh sách sản phẩm</h4>
          <div class="btn-group dropdown align-self-center">
            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="icon icon-sm icon-gray">
                <span class="fas fa-cog"></span>
              </span>
              <span class="sr-only">PageSize</span>
            </button>
            <div class="dropdown-menu dropdown-black dropdown-menu-lg-right dropdown-left">
              <a class="dropdown-item d-flex font-weight-bold" (click)="pageSize = 10" href="javascript://">
                10 <span *ngIf="pageSize === 10" class="icon icon-small ml-auto"><span
                    class="fas fa-check"></span></span>
              </a>
              <a class="dropdown-item d-flex font-weight-bold" (click)="pageSize = 20" href="javascript://">20 <span
                  *ngIf="pageSize === 20" class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
              <a class="dropdown-item d-flex font-weight-bold" (click)="pageSize = 30" href="javascript://">30 <span
                  *ngIf="pageSize === 30" class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
            </div>
          </div>
        </div>


      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="simple-table" role="grid">
            <thead class=" text-primary">
              <tr role="row" class="tablesorter-headerRow">
                <th>
                  STT
                </th>
                <th>
                  Name
                </th>
                <th>
                  Giá bán
                </th>
                <th>
                  Số lượng tồn kho
                </th>
                <th>
                  Trang thái
                </th>
                <th>
                  Ngày tạo
                </th>
                <th>
                  Ngày chỉnh sửa
                </th>
                <th>
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody aria-live="polite" aria-relevant="all">
              <tr role="row" *ngFor="let item of data | paginate: config; let index = index">

                <td>
                  {{ (index+1) + (pageIndex - 1) * pageSize }}
                </td>
                <td>
                  {{ item.name }}
                </td>
                <td>
                  {{ item.price }}
                </td>
                <td>
                  {{ item.inventory }}
                </td>
                <td>
                  <span *ngIf="item.available" class="badge badge-success">Available</span>
                  <span *ngIf="!item.available" class="badge badge-danger">Disable</span>
                </td>
                <td>
                  {{ item.createDate }}
                </td>
                <td>
                  {{ item.updateDate }}
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-link btn-icon">
                    <i class="fas fa-pen-square"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon"
                    (click)="openConfirm(item._id, item.name)">
                    <i class="fas fa-backspace"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="!data || data.length == 0">
                <td colspan="100%" class="text-center">Không có dữ liệu</td>
              </tr>
            </tbody>
          </table>
          <pagination-template #p="paginationApi" maxSize="10" (pageChange)="pageChanged($event)">
            <nav aria-label="pagination">
              <ul class="pagination">
                <li [class.disabled]="p.isFirstPage()" class="pagination-previous page-item">
                  <a class="page-link" href="javascript://" (click)="p.previous()">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                  <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="page-link"
                    href="javascript://">{{ page.label }}</a>
                  <a *ngIf="p.getCurrent() === page.value" class="page-link" href="javascript://">{{ page.label }}</a>
                </li>

                <li class="page-item pagination-next" [class.disabled]="p.isLastPage()">
                  <a class="page-link" (click)="p.next()" href="javascript://">Next</a>
                </li>
              </ul>
            </nav>
          </pagination-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-black fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="transform: none !important">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo mới sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" [formGroup]="createForm" (ngSubmit)="create()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group m-0">
                <label for="name">Chọn hình ảnh</label>
                <select id="select2Images" class="form-control" name="state" multiple="multiple">
                </select>
              </div>
              <!-- Product image -->

              <div class="row mt-4">
                <div class="col-md-6">
                  <img *ngIf="selectedImage[0]" [src]="selectedImage[0].path" class="img-fluid img-thumbnail p-2"
                    alt="Product-img">
                </div>

                <div class="col-md-6">
                  <img *ngIf="selectedImage[1]" [src]="selectedImage[1].path" class="img-fluid img-thumbnail p-2"
                    alt="Product-img">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <img *ngIf="selectedImage[2]" [src]="selectedImage[2].path" class="img-fluid img-thumbnail p-2"
                    alt="Product-img">
                </div>

                <div class="col-md-6">
                  <img *ngIf="selectedImage[3]" [src]="selectedImage[3].path" class="img-fluid img-thumbnail p-2"
                    alt="Product-img">
                </div>

              </div>
            </div> <!-- end col -->
            <div class="col-lg-7">
              <div class="pl-lg-4">
                <div>
                  <div class="form-group m-0" [ngClass]="{ 
                  'has-danger': submitted && f.name.errors
                }">
                    <label for="name">Tên sản phẩm *</label>
                    <input type="text" class="form-control" (change)="nameChanged()" id="name" aria-describedby="name"
                      formControlName="name" placeholder="Nhập tên sản phẩm">
                  </div>
                </div>
                <div class="mt-4">
                  <div class="form-group m-0">
                    <label for="alias">Đường dẫn sản phẩm</label>
                    <input type="text" class="form-control" id="alias" aria-describedby="alias" formControlName="alias"
                      disabled>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group m-0" [ngClass]="{ 
                      'has-danger': submitted && f.inventory.errors
                    }">
                        <label for="inventory">Số lượng tồn kho *</label>
                        <input type="number" class="form-control" id="inventory" formControlName="inventory"
                          aria-describedby="inventory" placeholder="Nhập số lượng">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group m-0" [ngClass]="{ 
                      'has-danger': submitted && f.price.errors
                    }">
                        <label for="price">Giá sản phẩm *</label>
                        <input type="number" class="form-control" id="price" formControlName="price"
                          aria-describedby="price" placeholder="Nhập giá sản phẩm">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-check mt-4">


                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" formControlName="available" id="available"
                      [value]="true">
                    <span class="form-check-sign"></span>
                    Kích hoạt hiển thị
                  </label>
                </div>


                <div class="mt-4">
                  <div class="form-group m-0" [ngClass]="{ 
                  'has-danger': submitted && f.description.errors
                }">
                    <label for="description">Mô tả sản phẩm *</label>
                    <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div> <!-- end col -->
          </div> <!-- end row-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Bỏ qua</button>
          <button type="button" class="btn btn-primary" (click)="create()">Tạo mới sản phẩm</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal confirm delete -->
<div class="modal modal-black fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Bạn có chắc chắn muốn xóa sản phẩm <strong>{{ nameDelete }}</strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bỏ qua</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Xóa</button>
      </div>
    </div>
  </div>
</div>
